VITE_SUPABASE_URL="https://hckaaqnzoptkrcrxehrv.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhja2FhcW56b3B0a3JjcnhlaHJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2NDAyMjIsImV4cCI6MjA5ODIxNjIyMn0.YtFxzL8qN7buwdnfV3LcBit_VhKW7q-u4D_6HHSWtLQ"
